.permission_popover {
  max-width: 500px;
}

.collapsible {
  /*background-color: #a2a2a2;*/
  /*color: white;*/
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  /*background-color: #919191;*/
}

.collapsible:after {
  content: '\002B';
  /*color: white;*/
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0px 5px;
  margin-top: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*background-color: #f1f1f1;*/
}
